* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

@media all and (max-width: 800px) {
    .fp-controlArrow ,.fp-slidesNav ,#fp-nav{
        display: none !important;
    }

}