* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
}
body {
  font-family: "Chivo", sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #fff !important;
}
@media all and (max-width: 800px) {
  .fp-controlArrow,
  #fp-nav {
    display: none !important;
  }
}
