.s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/marco-murakami-5lkM0fhhg4Q-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Logo*/
.logo {
  position: absolute;
  top: 20px;
  left: 40px;
}

.logo h1 {
  color: #fff;
}

/*Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 200px;
}

/*hero content*/
.hero-content {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 100px;
}

/*Hero Text */
.hero-text {
  width: 60%;
}
.hero-text h1,
p {
  color: #fff;
  margin-bottom: 20px;
}

.hero-text h1 {
  font-size: 50px;
  letter-spacing: 3px;
}

.hero-text h2 {
  font-size: 30px;
}

.hero-text p {
  font-size: 20px;
}

/*Links */
.links {
  text-align: center;
  width: 40%;
  margin-top: 40px;
}

.btn {
  text-decoration: none;
  padding: 15px 50px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 35px;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
}
.btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #f0a500;
  box-shadow: 0px 0px 100px 0px rgba(255, 165, 0, 1);
  transition: 0.8s ease;
}
/*timer*/
.timer {
  color: #fff;
  text-align: center;
  background: linear-gradient(-45deg, #f0a500, #cf7500, #1a1c20, #000);
  background-size: 400% 400%;
  border-radius: 10px;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.timer li {
  display: inline-block;
  font-size: 1rem;
  list-style-type: none;
  padding: 1em 2rem;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 3rem;
}

@media all and (max-width: 800px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 60px;
    margin-top: 100px;
  }

  .hero-text {
    margin-bottom: 50px;
    width: 90%;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .wrapper {
    padding: 10px;
    margin-top: 70px;
    height: 90vh;
  }
  .links {
    width: 60%;
    margin: 15px auto;
  }
  .btn {
    background-color: #fff;
    color: #333;
    font-size: 20px;
  }

  .timer {
    width: 85%;
    padding: 0;
    margin: 50px 0;
  }

  .timer li {
    display: inline-block;
    font-size: 1rem;
    list-style-type: none;
    padding: 0.7em;
    text-transform: uppercase;
  }

  li span {
    display: block;
    font-size: 2rem;
  }

  .hero-text h1,
  h2,
  p {
    margin-bottom: 5px;
  }
}
