/*******GLOBAL-STYLES**********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #f0a500;
  color: #0a0a0a;
}

html {
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  font-family: "Chivo", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #f0a500 !important;
  box-shadow: 0px 0px 20px 0px rgba(255, 165, 0, 1);
}
.fp-slidesNav {
  position: absolute !important;
  display: inline-block;
  transform: translate3d(40.7%, 0, 0) !important;
}
.fp-slidesNav.fp-bottom {
  bottom: 8px !important;
}

/*******LANDING-SECTION*******/

.s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/marco-murakami-5lkM0fhhg4Q-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Logo*/
.logo {
  position: absolute;
  top: 20px;
  left: 40px;
}

.logo h1 {
  color: #fff;
}

/*Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 200px;
}

/*hero content*/
.hero-content {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 100px;
}

/*Hero Text */
.hero-text {
  width: 60%;
}

.hero-text h1,
p {
  color: #fff;
  margin-bottom: 20px;
}

.hero-text h1 {
  font-size: 50px;
  letter-spacing: 3px;
}

.hero-text h2 {
  font-size: 30px;
}

.hero-text p {
  font-size: 20px;
}

/*Links */
.links {
  text-align: center;
  width: 40%;
  margin-top: 40px;
}

.btn {
  text-decoration: none;
  padding: 15px 50px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 35px;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
}

.btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #f0a500;
  box-shadow: 0px 0px 100px 0px rgba(255, 165, 0, 1);
  transition: 0.5s ease;
}
/****FLIP-TIMER****/
.flip-card {
  perspective: 1000;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}
.timer-back {
  position: absolute;
  top: 0%;
  color: #fff;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateX(180deg);
  text-align: center;
  background: linear-gradient(-45deg, #f0a500, #cf7500, #1a1c20, #000);
  background-size: 400% 400%;
  border-radius: 10px;
  animation: gradient 10s ease infinite;
}

/*timer*/
.timer {
  display: flex;
  color: #fff;
  text-align: center;
  background: linear-gradient(-45deg, #f0a500, #cf7500, #1a1c20, #000);
  background-size: 400% 400%;
  border-radius: 10px;
  animation: gradient 10s ease infinite;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.timer li {
  display: inline-block;
  font-size: 1rem;
  list-style-type: none;
  padding: 1em 2rem;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 3rem;
}

/*******ABOUT-SECTION*********/

.about-section {
  background-color: #0a0a0a;
}

.about-wrapper {
  width: 100vw;
  height: 100vh;
}

#home {
  clip-path: url(#cache);
  height: 100vh;
  width: 100vw;
}

#color2 {
  fill: none;
  opacity: 0.5;
  stroke: #c4c4c4;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#color3 {
  fill: none;
  opacity: 0.5;
  stroke: #f0a500;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#color1 {
  fill: none;
  opacity: 0.5;
  stroke: #cf7500;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.about-wrapper hr,
br {
  width: 100%;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.15;
  }
}

/*About text*/
.about-text {
  position: absolute;
  left: 20%;
  top: 2%;
  width: 60%;
  height: 95%;
  margin: 0 auto;
  padding: 50px;
  background: inherit;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(240, 165, 0, 1),
    0 6px 20px 0 rgba(207, 117, 0, 1);
  backdrop-filter: blur(10px);
  align-items: center;
  overflow: auto;
}

.about-text h2 {
  color: #fff;
}

.about-text p {
  font-size: 1.2rem;
  text-indent: 30px;
  line-height: 2rem;
  text-align: justify;
}

.button-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn1,
.btn2 {
  text-decoration: none;
  padding: 15px 40px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  margin: 10px 20px;
}

.btn1:hover,
.btn2:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #f0a500;
  box-shadow: 0px 0px 100px 0px rgba(255, 165, 0, 1);
  transition: 0.8s ease;
}

.about-text .btn-container {
  position: absolute;
  bottom: 20px;
}

/*******INV-SECTION*******/

.inv-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/dark_mosaic.png);
}

.inv-wrapper {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.inv-section h2 {
  color: #fff;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 3rem;
}

.inv-wrapper .card {
  position: relative;
  cursor: pointer;
  width: 30%;
}

.inv-wrapper .card .face {
  width: 100%;
  height: 300px;
  transition: 0.5s;
}

.inv-wrapper .card .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.inv-wrapper .card .face.face1.inv1 {
  background-image: url(../images/inv1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.inv-wrapper .card .face.face1.inv2 {
  background-image: url(../images/inv2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inv-wrapper .card .face.face1.inv3 {
  background-image: url(../images/inv3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.inv-wrapper .card:hover .face.face1.inv1 {
  background-image: linear-gradient(
      180deg,
      rgba(240, 165, 0, 0.8183473218388918) 0%,
      rgba(34, 34, 34, 1) 98%
    ),
    url(../images/inv1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(0);
}
.inv-wrapper .card:hover .face.face1.inv2 {
  background-image: linear-gradient(
      180deg,
      rgba(240, 165, 0, 0.8183473218388918) 0%,
      rgba(34, 34, 34, 1) 98%
    ),
    url(../images/inv2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(0);
}
.inv-wrapper .card:hover .face.face1.inv3 {
  background-image: linear-gradient(
      180deg,
      rgba(240, 165, 0, 0.8183473218388918) 0%,
      rgba(34, 34, 34, 1) 98%
    ),
    url(../images/inv3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(0);
}

.inv-wrapper .card .face.face1 .content {
  opacity: 0;
  transition: 0.5s;
}

.inv-wrapper .card:hover .face.face1 .content {
  opacity: 1;
}

.inv-wrapper .card .face.face1 .content img {
  max-width: 100px;
}

.inv-wrapper .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.inv-wrapper .card .face.face2 {
  position: relative;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(240, 165, 0, 1);
  transform: translateY(-66.66%);
  overflow: auto;
}

.inv-wrapper .card:hover .face.face2 {
  transform: translateY(0);
}

.inv-wrapper .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

.inv-wrapper .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #cf7500;
  padding: 5px;
  border: 1px solid #cf7500;
}

.inv-wrapper .card .face.face2 .content a:hover {
  border: 1px solid #333;
  color: #333;
  background-color: #f0a500;
  box-shadow: 0px 0px 100px 0px rgba(255, 165, 0, 1);
  transition: 0.8s ease;
}

/********ICON AND ICON HOVER ANIMATIONS*********/
.inv-wrapper .card ion-icon,
.inv-wrapper .card-mobile ion-icon {
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.inv-wrapper .card ion-icon[name="logo-linkedin"]:hover,
.inv-wrapper .card-mobile ion-icon[name="logo-linkedin"]:hover {
  color: #0e76a8;
  transition: color 0.15s;
}

.inv-wrapper .card ul,
.inv-wrapper .card-mobile ul {
  display: flex;
  margin: 20px auto 0;
}

.inv-wrapper .card li,
.inv-wrapper .card-mobile li {
  list-style: none;
  margin: 0 auto;
}

/*****MOBILE-VIEW-STYLING********/
#mobileCards h3 {
  padding-top: 5px;
  color: #fff;
  font-size: 0.8rem;
}

#mobileCards .card-mobile {
  width: 70%;
  overflow: auto;
}

#mobileCards .card-mobile img {
  width: 100%;
  height: 40%;
}
#mobileCards .fp-tableCell {
  vertical-align: top !important;
}
#mobileCards .card-mobile .card {
  width: 100%;
  height: auto;
  margin: 0 auto;
  top: 3%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px 0px rgba(255, 165, 0, 1);
  border-radius: 4px;
  overflow: auto;
}

#mobileCards .card-mobile .invTextContainer {
  padding: 10px 20px;
}

#mobileCards .card-mobile p {
  font-size: 0.8rem;
  text-align: justify;
  margin: auto 0;
}

/*******MEDIA-QUERIES*********/

@media all and (max-width: 800px) {
  #fp-nav {
    display: none !important;
  }

  /*******LANDING-SECTION-QUERIES*******/

  .s1 {
    min-height: 100%;
    height: calc(var(--vh, 1vh) * 100);
  }

  .s1 .logo {
    padding-top: 25px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 60px;
    margin-top: 100px;
  }

  .hero-text {
    margin-bottom: 50px;
    width: 90%;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .wrapper {
    padding: 10px;
    margin-top: 70px;
    height: 90vh;
  }

  .links {
    width: 60%;
    margin: 15px auto;
  }

  .btn {
    background-color: #fff;
    color: #333;
    font-size: 20px;
  }

  .timer {
    width: 100%;
    padding: 0;
    margin: 50px 0;
  }

  .timer li {
    display: inline-block;
    font-size: 1rem;
    list-style-type: none;
    padding: 0.7em;
    text-transform: uppercase;
  }

  li span {
    display: block;
    font-size: 2rem;
  }

  .hero-text h1,
  h2,
  p {
    margin-bottom: 5px;
  }

  /*******ABOUT-SECTION-QUERIES********/

  .about-section {
    background-color: #fff;
  }

  .about-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/dark_mosaic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .about-wrapper {
    width: 100%;
    height: 100%;
  }

  .about-section .btn1,
  .btn2 {
    display: none;
  }

  .about-text {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    box-shadow: none;
    padding: 20px;
  }

  .about-text h2 {
    font-weight: 400;
  }

  svg {
    display: none;
  }

  .about-text p {
    text-align: justify;
    font-size: 15px;
  }

  /********INV-SECTION-QUERIES********/
}
